{% extends 'layout/base.html.twig' %}
{% block body %}
<div class="col-sm-8 blog-main">
        {#dump(posts)#}
        {% for post in posts %}
	<div class="blog-post">
            {#dump(post)#}
		<h2 class="blog-post-title">{{post.titulo}}</h2>
		<p class="blog-post-meta">{{post.fecha|date('d/m/Y')}} by <a href="#">{{post.autor}}</a></p>

		<p>{{ post.contenido }}
			<!-- Genera Url relativa-->
			<a href="{{ path('simple_post', { 'id': '1' }) }}">
			  Read this blog post.
			</a>
		</p>
		<hr>

	</div><!-- /.blog-post 1-->
	{% endfor %}
	<nav>
		<ul class="pager">
			<li><a href="#">Previous</a></li>
			<li><a href="#">Next</a></li>
		</ul>
	</nav>

</div><!-- /.blog-main -->
{% endblock %}